# Dependencies
node_modules/

# Build output
dist/
build/

# Configuration and Secrets
config.json
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# Store cookies (except demo file)
stores/*
!stores/store_id_test.json